RUN_STANDALONE=true
NODE_SEED="SDQVDISRYN2JXBS7ICL7QJAEKB3HWBJFP2QECXG7GZICAHBK4UNJCWK2 self"
NODE_IS_VALIDATOR=true
HTTP_PORT=8080
PUBLIC_HTTP_PORT=true
PEER_PORT=11625

DATABASE="postgresql://dbname=h3 host=localhost user=h3 password=123456"

NETWORK_PASSPHRASE="Test SDF Network ; September 2015"

FAILURE_SAFETY=0
UNSAFE_QUORUM=true
#The public keys of the Stellar testnet servers
[QUORUM_SET]
THRESHOLD_PERCENT=100
VALIDATORS=["$self"]

[HISTORY.vs]
get="cp /tmp/stellar-core/history/vs/{0} {1}"
put="cp {0} /tmp/stellar-core/history/vs/{1}"
mkdir="mkdir -p /tmp/stellar-core/history/vs/{0}"